@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Space+Mono&display=swap');

:root {
  --font-base: 'Space Mono', monospace;
  --font-alt: 'Open Sans', sans-serif;
  --font-main: 'Amatic SC', cursive;
  
  --color-black: #0C0C0C;
--color-body: #FFFFFF;
  --color-grey:#121212;
  --color-grad1:#FBC2EB;
  --color-grad2:#abc1ee;

 
}
/* //drk mode colors */
[data-theme="light"]{
  --color-body:#112240;
  --color-black:#FFFFFF;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


  

